* {margin:0; padding:0; box-sizing:border-box;}

html{height:100%;}

body{height:100%;}

ul, li {list-style:none;}

.slide {height:100%; overflow:hidden}
/*.slide ul {height:300%;}
.slide li {height:100%;}*/
/*.slide li:nth-child(1) {background:white;}
.slide li:nth-child(2) {background:magenta;}
.slide li:nth-child(3) {background:black;}*/

/* 아래부터 스타일 꾸미기 */

#page1-title {font-size:6em; text-align:center;}
#clock {text-align:center; padding-top:5%; padding-bottom:10%; font-size:2em;}
#start-button{font-size:300%; display:block; margin:0 auto;}
#ok-button{font-size:300%; display:block; margin:0 auto;}
#done-button{font-size:300%; display:block; margin:0 auto; display:none;}
.page1 {padding-top:10%;}
.page2 {padding-top:10%;text-align:center;}
.memberbox {display:flex; flex-wrap:wrap; width:70%; margin:0 auto; justify-content:center;}
.member {width:1.5em; background:#3DA7F2; font-size:3em; margin:1%; border-radius:10%; }
.selectbox {text-align:center; width:70%; margin:0 auto;}
.rangebox {text-align:center; width:70%; margin:0 auto; padding-top:5%; padding-bottom:5%;}
.range-label {padding:5%;font-weight:500;}
.range-label-col{width:20%;}
.range-col-col {width:70%;}
.range-num-col {width:10%;}
.range-num {font-size:2em; font-weight:500;}
.member label {margin:auto; color:white; cursor:pointer;}
.member:after {padding-bottom:100%;}
.resultbox {padding:10% 0; background:black; text-align:center; color:white; font-size:3em;}


/* 미디어 쿼리 */

@media screen and (max-width:900px)
{
	#page1-title {font-size:5em;}
	#done-button{font-size:2em;}
	.page1 {padding-top:20%; padding-bottom:auto;}
	.page2 {padding-top:auto;padding-bottom:auto;}
	.memberbox {width:100%;}
	.member {font-size:2em;}
	.rangebox {width:95%;}
	.range-label {padding:0;}
	.range-num {font-size:1em;}
	.range-label-col{width:15%;}
	.range-col-col {padding:0; width: 30%;}
	.range-num-col {width:10%;}
	.resultbox {font-size:2em;}
}
